<h3>Lista de Autores</h3>
<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" class="mytable">
          <!-- Name Column -->
          <ng-container matColumnDef="nombres">
            <th mat-header-cell *matHeaderCellDef> Nombres </th>
            <td mat-cell *matCellDef="let element"> {{element.nombres}} </td>
          </ng-container>

          <ng-container matColumnDef="apellidos">
                <th mat-header-cell *matHeaderCellDef> Apellidos </th>
                <td mat-cell *matCellDef="let element"> {{element.apellidos}} </td>
            </ng-container>

            <ng-container matColumnDef="fechaNacimiento">
                <th mat-header-cell *matHeaderCellDef> Fecha Nacimeinto </th>
                <td mat-cell *matCellDef="let element"> {{element.fechaNacimiento}} </td>
            </ng-container>

            <ng-container  matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef> </th>
                <td mat-cell *matCellDef="let element">
                  <button class="btnEliminar" (click)="deleteAutor(element.id)">Eliminar</button>  
                </td>
            </ng-container> 
    
                  
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
      
</div>
      
      