<h3>Crear libro</h3>
<form (ngSubmit)="procesar()">
    <label for="nombre">Nombre</label>
    <input type='text' autofocus name='nombre' id='nombre' [(ngModel)]='libro.nombre'/>
    <br>
    <label for="autor">Autor</label>
    <select name="autor" id="autor" [(ngModel)]='libro.autorId'>
            <option >--Seleccione un autor--</option>
            <option *ngFor="let item of autores" value="{{item.id}}">{{item.nombres}} {{item.apellidos}}</option>
    </select>
    <br>
    <label for="isbn">ISBN</label>
    <input type='text' name='isbn' id='isbn' [(ngModel)]='libro.isbn'/>
    <br>
    <br>
    <label for="categoriasSeleccionadas">Categorias</label>
    <mat-selection-list class="list" #selectedCategorias  name='categoriasSeleccionadas' id='categoriasSeleccionadas' [(ngModel)]='categoriasSeleccionadas'>
            <mat-list-option *ngFor="let c of categorias" [value]="c.id">
              {{c.nombre}}
            </mat-list-option>
    </mat-selection-list>
    <p class="myselection">
      Categorias seleccionadas: {{selectedCategorias.selectedOptions.selected.length}}
    </p>
     
    <br>
    
    <button type="submit" class="btnGuardar">Guardar</button>
    <p class="correcto">{{message}}</p>
</form>
