<h3>Crear autor</h3>
<p class="correcto">{{message}}</p>
<form (ngSubmit)="procesarAutor()">
    <label for="nombres">Nombres</label>
    <input type='text' autofocus name='nombres' id='nombres' [(ngModel)]='autor.nombres'/>
    <br>
    <label for="apellidos">Apellidos</label>
    <input type='text' name='apellidos' id='apellidos' [(ngModel)]='autor.apellidos'/>
    <br>
    <label for="fechaNacimiento">Fecha Nacimiento</label>
    <input type='date' name='fechaNacimiento' id='fechaNacimiento' [(ngModel)]='autor.fechaNacimiento'/>
    
    <br>
    <button type="submit" class="btnGuardar">Guardar</button>
</form>
